/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#index-banner {
  padding-bottom: 200px;
  background-color: #18bc9c;
}
.bigMontSerrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
}
hr.lineblack {
  border: 2px solid black;
  border-radius: 5px;
  width: 20%;
}
hr.linewhite {
  border: 2px solid white;
  border-radius: 5px;
  width: 30%;
}
nav {
  line-height: 100px;
  height: 100px;
  background-color: #2C3E50;
  overflow: hidden;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}
.fontLogo {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  transition: 0.2s;
}

.githubButton {
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.page-footer {
  background-color: #2C3E50;
}
.footer-copyright {
  background-color: #233140 !important;
}
